


Til: Direktoratet for byggkvalitet
Bestillingsdato: 08.09.2025

Svar på dette innsynskravet ønskes sendt med epost til: geir@nbkf.no

Dokumenter:
  Saksnr: 2024/5030 | Dok nr. : 7 | Sekvensnr.: 17004
  Sak: Spørsmål vedørende motfall på baderomsgulv og toleranser NS3420
  Dokument: Svar - Spørsmål vedørende motfall på baderomsgulv og toleranser NS3420
  Dok.dato: 2024-05-11
  Journaldato: 2024-05-11
  Saksbehandler: [Ufordelt]
  Enhet: 1346

  Saksnr: 2023/6960 | Dok nr. : 4 | Sekvensnr.: 22713
  Sak: Våtrom - flatt gulv?
  Dokument: Svar - Våtrom - flatt gulv?
  Dok.dato: 2023-09-30
  Journaldato: 2023-09-30
  Saksbehandler: [Ufordelt]
  Enhet: 1346




eInnsyn.no