name: Bygging av Docker-image

on:
  workflow_dispatch:
  # schedule:
  #   - cron: "15 23 * * 0"

env:
  webookSha: 'cc1a66f'

permissions:
  id-token: write
  contents: read
  packages: write
  attestations: write

jobs:
  build-image:
    runs-on:
      - self-hosted
      - docker
      - macOS
    concurrency:
      group: sync2pureservice_docker_build
      cancel-in-progress: true
    # continue-on-error: true

    steps:
    - uses: actions/checkout@v6

    - name: Lås opp nøkkelring
      run: |
        security -v unlock-keychain -p ${{secrets.MACOS_KC_PASS}} ~/Library/Keychains/login.keychain-db
  
    # - name: Innlogging til Azure CLI (OIDC)
    #   uses: azure/login@v2
    #   with:
    #     client-id: ${{ vars.DIBK_GITHUBACTIONS_SP_ID }}
    #     tenant-id: ${{ vars.AZURE_TENANT_ID }}
    #     subscription-id: ${{ vars.AZURE_SUBID_INTERNAL }}

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Setter metadata for Docker
      id: meta
      uses: docker/metadata-action@v5
      with:
          # list of Docker images to use as base name for tags
        images: |
          ghcr.io/${{ github.repository }}
        # generate Docker tags based on the following events/attributes
        tags: |
          type=raw,value=latest,enable={{is_default_branch}}
          type=raw,value=alpine
          # Kort SHA > 'sha-xxxxxx'
          # type=sha,format=short

    - name: Oppsett av Docker Buildx
      uses: docker/setup-buildx-action@v3
      with:
        name: s2p-builder
        driver: docker-container

    - name: Bygg og push
      uses: docker/build-push-action@v6
      with:
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        file: sync2pureservice.Dockerfile
        context: .
        platforms: linux/amd64,linux/arm64
        cache-to: type=gha,mode=max
        cache-from: type=gha

    - name: Feilmelding til Teams
      if: failure()
      uses: carriquiry-g/ms-teams-notification@v2 # https://github.com/marketplace/actions/microsoft-teams-channel-notification
      with:
        github-token: ${{ github.token }} # this will use the runner's token.
        ms-teams-webhook-uri: ${{ secrets.TEAMS_DRIFTSMELDINGER_WEBHOOK_URI }}
        notification-summary: Feil under bygging av Docker-image
        notification-style: attention
        timezone: Europe/Oslo
        verbose-logging: false

